{% extends news_paper/default.html %}

{% block titile %}
Posts
<hr>
{% endblock titile %}

{% block content%}
{% if Author %}

{% load cache %}
{% cache 30 author %}

<tabl>
    <tr>
        <td>Title</td>
        <td>Text</td>
        <td>Date</td>
    </tr>

{% endcache %}

    {% for a in Author %}

        <tr>
            <td>{{a.title}}</td>
            <td>{{a.text|truncatechars:20}}</td>
            <td>{{a.dateCreation}}</td>
        </tr>

</tabl>
    {% endfor %}
{% else %}
    <td>There are no posts</td>
{% endif %}
{% endblock content %}